[submodule "2021.1 - Pesquisa e Ordenação de dados/orderingMethods"]
	path = 2021.1 - Pesquisa e Ordenação de dados/orderingMethods
	url = https://github.com/Andrewgaabriel/orderingMethods.git
[submodule "2021.1 - Programação 1/super_Bodega"]
	path = 2021.1 - Programação 1/super_Bodega
	url = https://github.com/Andrewgaabriel/super_Bodega.git
[submodule "2021.1 - Pesquisa e Ordenação de dados/trabalho_final_POD"]
	path = 2021.1 - Pesquisa e Ordenação de dados/trabalho_final_POD
	url = https://github.com/larimones/trabalho_final_POD.git
[submodule "2021.1 - Programação 1/Jarena-Team-Groot-"]
	path = 2021.1 - Programação 1/Jarena-Team-Groot-
	url = https://github.com/larimones/Jarena-Team-Groot-.git
[submodule "2021.1 - Programação 1/Davy-lang"]
	path = 2021.1 - Programação 1/Davy-lang
	url = https://github.com/danielpierrelus/Davy-lang.git
[submodule "2021.1 - Programação 1/list_0_prog1"]
	path = 2021.1 - Programação 1/list_0_prog1
	url = https://github.com/Andrewgaabriel/list_0_prog1.git
[submodule "2021.1 - Programação 1/list_01_prog1"]
	path = 2021.1 - Programação 1/list_01_prog1
	url = https://github.com/Andrewgaabriel/list_01_prog1.git
[submodule "2021.1 - Programação 1/list_02_prog1"]
	path = 2021.1 - Programação 1/list_02_prog1
	url = https://github.com/Andrewgaabriel/list_02_prog1.git
